In [1]:
%load_ext autoreload
%autoreload 2

In [11]:
from datasets import GeonamesDataset
import polars as pl

In [12]:
geonames = GeonamesDataset("./data/cities500.txt.gz")

In [13]:
geonames.df.get_column("country code").value_counts().sort("count").tail(10)

shape: (10, 2)
┌──────────────┬───────┐
│ country code ┆ count │
│ ---          ┆ ---   │
│ str          ┆ u32   │
╞══════════════╪═══════╡
│ CI           ┆ 3777  │
│ GB           ┆ 4203  │
│ MX           ┆ 4668  │
│ RO           ┆ 4784  │
│ IT           ┆ 6464  │
│ ID           ┆ 6568  │
│ FR           ┆ 7475  │
│ DE           ┆ 9489  │
│ CN           ┆ 12367 │
│ US           ┆ 12607 │
└──────────────┴───────┘

In [14]:
geonames.df.sample(10)

shape: (10, 4)
┌─────────────┬──────────────┬──────────────┬────────────┐
│ sequence    ┆ feature code ┆ country code ┆ population │
│ ---         ┆ ---          ┆ ---          ┆ ---        │
│ str         ┆ str          ┆ str          ┆ i64        │
╞═════════════╪══════════════╪══════════════╪════════════╡
│ Lianhe      ┆ PPLA4        ┆ CN           ┆ 0          │
│ Cosnes      ┆ PPL          ┆ FR           ┆ 2110       │
│ Nilvange    ┆ PPL          ┆ FR           ┆ 5430       │
│ Grajdana    ┆ PPL          ┆ RO           ┆ 1008       │
│ Bergenhusen ┆ PPLA4        ┆ DE           ┆ 700        │
│ Wilster     ┆ PPL          ┆ DE           ┆ 4443       │
│ Montgermont ┆ PPL          ┆ FR           ┆ 3012       │
│ Guojiaba    ┆ PPLA4        ┆ CN           ┆ 0          │
│ Maysville   ┆ PPLA2        ┆ US           ┆ 8819       │
│ Livingston  ┆ PPLA2        ┆ US           ┆ 4071       │
└─────────────┴──────────────┴──────────────┴────────────┘

In [15]:
df = geonames.df
alphabet = "".join(
    set("".join(df.get_column("sequence").str.split("").explode().to_list()))
)

In [44]:
from utils import Tokenizer

t = Tokenizer(
    alphabet=alphabet,
    max_len=20,
)

In [45]:
t.decode(t.encode(df)[:10])

['Soldeu',
 'Ordino',
 'Encamp',
 'Canillo',
 'Arinsal',
 'Warisan',
 'Murbah',
 'Masfut',
 'Jumayra',
 'Sharjah']